.myfont {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 1em;
}
.container {
  margin-top: 2em;
}
.control-label {
  font-weight: bold;
  color: orange;
}
.progress {
  margin-top: 2em;
}
